version: '3.8'

services:
  server:
    build: ./server
    container_name: nodejs_server

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/static:/usr/share/nginx/html
    depends_on:
      - server